@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,700&family=Ubuntu:wght@300;400;700&display=swap");
*:where(:not(html, iframe, canvas, img, svg, video):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a,
button {
  cursor: revert;
}

ol,
ul,
menu {
  list-style: none;
}

img {
  max-width: 100%;
}

table {
  border-collapse: collapse;
}

input,
textarea {
  -webkit-user-select: auto;
  user-select: auto;
}

textarea {
  white-space: revert;
}

meter {
  -webkit-appearance: revert;
  appearance: revert;
}

::placeholder {
  color: unset;
}

:where([hidden]) {
  display: none;
}

:where([contenteditable]:not([contenteditable=false])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
  line-break: after-white-space;
  -webkit-user-select: auto;
  user-select: auto;
}

:where([draggable=true]) {
  -webkit-user-drag: element;
}

.heading__title {
  font-family: var(--fnt-title);
  font-size: 4rem;
  text-align: center;
}
.heading__section {
  font-size: 2rem;
  font-weight: var(--fnt-wt-700);
  text-align: center;
  grid-column: 1/span 3;
}

.logo {
  font-family: var(--fnt-title);
  font-size: 2.5rem;
  margin-right: auto;
}
.logo--italic {
  font-family: var(--fnt-default);
}

:root {
  font-size: 62.5%;
  --header-bg-colour: var(--clr-light-blue);
  --nav-bg-colour: var(--clr-dark-blue);
  --footer-bg-colour: var(--clr-dark-blue);
  --clr-offwhite: #edede9;
  --clr-dark-grey: #343a40;
  --clr-light-blue: #4361ee;
  --clr-dark-blue: #1d3557;
  --fnt-title: "Merriweather", serif;
  --fnt-default: "Ubuntu", sans-serif;
  --fnt-wt-300: 300;
  --fnt-wt-400: 400;
  --fnt-wt-700: 700;
}

body {
  display: grid;
  grid-template-rows: repeat(2, max-content) 1fr max-content;
  font-family: var(--fnt-default);
  color: var(--clr-dark-grey);
  font-size: 1.6rem;
  height: 100vh;
  background: var(--clr-offwhite);
}

.nav-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--nav-bg-colour);
  padding: 2rem 3rem;
  color: var(--clr-offwhite);
}

.header {
  background: var(--header-bg-colour);
  color: var(--clr-offwhite);
  padding: 8rem 3rem;
}

.main {
  display: grid;
  justify-content: center;
  grid-template-areas: "read" "notread";
  gap: 2rem;
  padding: 6rem 3rem;
}

.books__read, .books__notread {
  display: grid;
  gap: 2rem;
  width: min(150rem, 90vw);
  background: white;
  padding: 2rem;
  border-radius: 0.6rem;
  margin-top: 2rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
@media only screen and (min-width: 48em) {
  .books__read, .books__notread {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (min-width: 75.0625em) {
  .books__read, .books__notread {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media only screen and (min-width: 100em) {
  .books__read, .books__notread {
    grid-template-columns: repeat(4, 1fr);
  }
}
.books__read > * {
  border-left: 5px solid green;
}
.books__notread > * {
  border-left: 5px solid red;
}

.footer {
  color: var(--clr-offwhite);
  text-align: center;
  background: var(--footer-bg-colour);
  padding: 3rem;
  margin-top: auto;
}

.btn {
  background: var(--clr-offwhite);
  border-radius: 0.5rem;
  transition: 0.25s ease;
}
.btn--add {
  text-align: center;
  font-size: 2.5rem;
  font-weight: var(--fnt-wt-700);
  width: 3rem;
  aspect-ratio: 1;
  border-radius: 100rem;
  color: var(--clr-dark-grey);
}
.btn--close-modal {
  font-family: inherit;
  color: inherit;
  position: absolute;
  top: 0.5rem;
  right: 2rem;
  font-size: 4rem;
  cursor: pointer;
  border: none;
  background: none;
}

.card {
  padding: 1.5rem;
  display: grid;
  gap: 2rem;
  grid-template-areas: "booktitle booktitle" "img authortitle" "img authorname" "img pagestitle" "img pagescount" "img rttitle" "img readtoggle";
  grid-template-columns: max-content max-content;
  align-items: center;
  justify-items: start;
  border-radius: 0.5rem;
  background: var(--clr-offwhite);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.card__image {
  grid-area: img;
  width: 100px;
  border-radius: 0.5rem;
  align-self: start;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.card__heading {
  font-weight: var(--fnt-wt-700);
}
.card__heading--main {
  font-size: 2rem;
}
.card--book-title {
  grid-area: booktitle;
}
.card--author-title {
  grid-area: authortitle;
}
.card--author-name {
  grid-area: authorname;
}
.card--pages-title {
  grid-area: pagestitle;
}
.card--pages-count {
  grid-area: pagescount;
}
.card--read-toggle-title {
  grid-area: rttitle;
}
.card--read-toggle {
  grid-area: readtoggle;
}

/* MODAL WINDOW */
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 60rem;
  background-color: #f3f3f3;
  padding: 5rem 6rem;
  box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.3);
  z-index: 1000;
  transition: all 0.5s;
}
.modal__header {
  font-size: 3.25rem;
  margin-bottom: 4.5rem;
  line-height: 1.5;
}
.modal__form {
  margin: 0 3rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  gap: 2.5rem;
}
.modal__form input {
  font-size: 1.7rem;
  padding: 1rem 1.5rem;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
}
.modal__form label {
  font-size: 1.7rem;
  font-weight: 500;
}
.modal__form button {
  grid-column: 1/span 2;
  justify-self: center;
  margin-top: 1rem;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  z-index: 100;
  transition: all 0.5s;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}/*# sourceMappingURL=main.css.map */