@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,700&family=Ubuntu:wght@300;400;700&display=swap");
*:where(:not(html, iframe, canvas, img, svg, video):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a,
button {
  cursor: revert;
}

ol,
ul,
menu {
  list-style: none;
}

img {
  max-width: 100%;
}

table {
  border-collapse: collapse;
}

input,
textarea {
  -webkit-user-select: auto;
  user-select: auto;
}

textarea {
  white-space: revert;
}

meter {
  -webkit-appearance: revert;
  appearance: revert;
}

::placeholder {
  color: unset;
}

:where([hidden]) {
  display: none;
}

:where([contenteditable]:not([contenteditable=false])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
  line-break: after-white-space;
  -webkit-user-select: auto;
  user-select: auto;
}

:where([draggable=true]) {
  -webkit-user-drag: element;
}

.heading__title {
  font-family: var(--fnt-title);
  font-size: var(--fnt-sz-hero-heading);
  text-align: center;
}
.heading__section {
  font-size: var(--fnt-sz-section-heading);
  font-weight: var(--fnt-wt-700);
  text-align: center;
}

.logo {
  font-family: var(--fnt-title);
  font-size: var(--fnt-sz-brand);
  margin-right: auto;
}
.logo > * {
  font-family: var(--fnt-default);
}

:root {
  font-size: 62.5%;
  --header-bg-colour: var(--clr-light-blue);
  --nav-bg-colour: var(--clr-dark-blue);
  --footer-bg-colour: var(--clr-dark-blue);
  --clr-offwhite: #edede9;
  --clr-dark-grey: #343a40;
  --clr-light-blue: #4361ee;
  --clr-dark-blue: #1d3557;
  --fnt-title: "Merriweather", serif;
  --fnt-default: "Ubuntu", sans-serif;
  --fnt-wt-300: 300;
  --fnt-wt-400: 400;
  --fnt-wt-700: 700;
  --fnt-sz-display-button: 1.4rem;
  --fnt-sz-default: 1.6rem;
  --fnt-sz-section-heading: 2rem;
  --fnt-sz-card-header: 2rem;
  --fnt-sz-brand: 2.5rem;
  --fnt-sz-plus-button: 2.5rem;
  --fnt-sz-hero-heading: 4rem;
  --fnt-sz-close-modal: 4rem;
}

body {
  display: grid;
  grid-template-rows: repeat(2, max-content) 1fr max-content;
  font-family: var(--fnt-default);
  color: var(--clr-dark-grey);
  font-size: var(--fnt-sz-default);
  height: 100vh;
  background: var(--clr-offwhite);
}

.nav-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--nav-bg-colour);
  padding: 2rem 3rem;
  color: var(--clr-offwhite);
  position: sticky;
  top: 0;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  z-index: 1000;
}

.header {
  background: var(--header-bg-colour);
  color: var(--clr-offwhite);
  padding: 8rem 3rem;
}

.main {
  display: grid;
  justify-content: center;
  align-content: start;
  gap: 2rem;
  padding: 6rem 3rem;
}

.books {
  display: grid;
  place-items: center;
  gap: 2rem;
}
.books__status-control {
  display: flex;
  filter: drop-shadow(3px 10px 15px rgba(0, 0, 0, 0.45));
}

.bookshelf {
  display: grid;
  gap: 2rem;
  width: min(150rem, 90vw);
  padding: 2rem;
  border-radius: 0.6rem;
  margin-top: 2rem;
}
@media only screen and (min-width: 48em) {
  .bookshelf {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (min-width: 75.0625em) {
  .bookshelf {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media only screen and (min-width: 100em) {
  .bookshelf {
    grid-template-columns: repeat(4, 1fr);
  }
}

.footer {
  color: var(--clr-offwhite);
  text-align: center;
  background: var(--footer-bg-colour);
  padding: 3rem;
  margin-top: auto;
}

.btn {
  background: var(--clr-offwhite);
  border-radius: 0.5rem;
  transition: 0.25s ease;
}
.btn--add {
  text-align: center;
  font-size: var(--fnt-sz-plus-button);
  font-weight: var(--fnt-wt-700);
  width: 3rem;
  aspect-ratio: 1;
  border-radius: 100rem;
  color: var(--clr-dark-grey);
}
.btn--close-modal {
  font-family: inherit;
  color: inherit;
  position: absolute;
  top: 0.5rem;
  right: 2rem;
  font-size: var(--fnt-sz-close-modal);
  cursor: pointer;
  border: none;
  background: none;
}
.btn--display-select {
  background: var(--clr-offwhite);
  color: var(--clr-dark-grey);
  width: 10rem;
  height: 4rem;
  text-align: center;
  text-transform: uppercase;
  border-radius: 0;
  font-size: var(--fnt-sz-display-button);
  cursor: pointer;
}
.btn--display-select:first-child {
  border-radius: 10rem 0 0 10rem;
}
.btn--display-select:last-child {
  border-radius: 0 10rem 10rem 0;
}
.btn--display-select:hover {
  filter: drop-shadow(3px 5px 5px rgba(0, 0, 0, 0.45));
}
.btn--delete-book {
  fill: var(--clr-dark-grey);
  width: 3rem;
  aspect-ratio: 1;
}
.btn--delete-book:hover {
  fill: red;
}

.card {
  padding: 1.5rem;
  display: grid;
  gap: 1rem;
  grid-template-areas: "title" "img" "author" "pages" "controls";
  background: white;
  align-items: center;
  justify-items: center;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.card__image {
  grid-area: img;
  border-radius: 0.5rem;
  align-self: start;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.card--book-title {
  grid-area: title;
  font-size: var(--fnt-sz-card-header);
  font-weight: var(--fnt-wt-700);
  text-align: center;
}
.card--author-title {
  grid-area: author;
}
.card--author-name {
  font-weight: var(--fnt-wt-700);
}
.card--pages-title {
  grid-area: pages;
}
.card--pages-count {
  font-weight: var(--fnt-wt-700);
}
.card--read-toggle-title {
  grid-area: rttitle;
}
.card--read-toggle {
  grid-area: readtoggle;
}
.card__controls {
  grid-area: controls;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

/* MODAL WINDOW */
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 60rem;
  background-color: #f3f3f3;
  padding: 5rem 6rem;
  box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.3);
  z-index: 1000;
  transition: all 0.5s;
}
.modal__header {
  font-size: 3.25rem;
  margin-bottom: 4.5rem;
  line-height: 1.5;
}
.modal__form {
  margin: 0 3rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  gap: 2.5rem;
}
.modal__form input {
  font-size: 1.7rem;
  padding: 1rem 1.5rem;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
}
.modal__form label {
  font-size: 1.7rem;
  font-weight: 500;
}
.modal__form button {
  grid-column: 1/span 2;
  justify-self: center;
  margin-top: 1rem;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  z-index: 100;
  transition: all 0.5s;
}

.switch {
  position: relative;
  display: inline-block;
  width: 6rem;
  height: 2.9rem;
  filter: drop-shadow(3px 5px 5px rgba(0, 0, 0, 0.45));
}
.switch__label {
  position: absolute;
  left: 7rem;
  top: 25%;
  font-size: 1.4rem;
  text-transform: uppercase;
}
.switch__checkbox {
  opacity: 0;
  width: 0;
  height: 0;
}
.switch__checkbox:checked + .switch__slider {
  background-color: #2196f3;
}
.switch__checkbox:focus + .switch__slider {
  box-shadow: 0 0 1px #2196f3;
}
.switch__checkbox:checked + .switch__slider:before {
  -webkit-transform: translateX(30px);
  -ms-transform: translateX(30px);
  transform: translateX(30px);
}
.switch__slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.switch__slider:before {
  position: absolute;
  content: "";
  height: 2.5rem;
  aspect-ratio: 1;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.switch__slider.round {
  border-radius: 100rem;
}
.switch__slider.round:before {
  border-radius: 50%;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

.read {
  border-left: 5px solid green;
}

.unread {
  border-left: 5px solid red;
}

.active {
  background: green;
  color: var(--clr-offwhite);
}/*# sourceMappingURL=main.css.map */