@use '../abstracts/' as a;

.main {
  display: grid;
  justify-content: center;
  gap: 2rem;
  padding: 6rem 3rem;
}

.bookshelf {
  display: grid;
  gap: 2rem;
  width: min(150rem, 90vw);
  padding: 2rem;
  border-radius: 0.6rem;
  margin-top: 2rem;

  @include a.breakpoint(md, min) {
    grid-template-columns: repeat(2, 1fr);
  }
  @include a.breakpoint(xxl, min) {
    grid-template-columns: repeat(3, 1fr);
  }
  @include a.breakpoint(1600, min) {
    grid-template-columns: repeat(4, 1fr);
  }
}
