.btn {
  background: var(--clr-offwhite);
  border-radius: 0.5rem;
  transition: 0.25s ease;
  &--add {
    display: grid;
    place-items: center;
    font-size: var(--fnt-sz-plus-button);
    font-weight: var(--fnt-wt-700);
    background: var(--clr-yellow);
    width: 5rem;
    aspect-ratio: 1;
    border-radius: 100rem;
    color: var(--clr-dark-grey);

    &:hover {
      background: var(--clr-red);
    }
  }
  &--close-modal {
    font-family: inherit;
    color: inherit;
    position: absolute;
    top: 0.5rem;
    right: 2rem;
    font-size: var(--fnt-sz-close-modal);
    cursor: pointer;
    border: none;
    background: none;
  }
  &--display-select {
    background: var(--clr-offwhite);
    color: var(--clr-dark-grey);
    width: 10rem;
    height: 4rem;
    text-align: center;
    text-transform: uppercase;
    border-radius: 0;
    font-size: var(--fnt-sz-display-button);
    cursor: pointer;

    &:first-child {
      border-radius: 10rem 0 0 10rem;
    }
    &:last-child {
      border-radius: 0 10rem 10rem 0;
    }
    &:hover {
      filter: drop-shadow(3px 5px 5px rgba(0, 0, 0, 0.45));
    }
  }
  &--delete-book {
    fill: var(--clr-dark-grey);
    width: 3rem;
    aspect-ratio: 1;
    &:hover {
      fill: var(--clr-red);
      cursor: pointer;
    }
  }
}
