.btn {
  background: var(--clr-offwhite);
  border-radius: 0.5rem;
  transition: 0.25s ease;
  &--add {
    text-align: center;
    font-size: var(--fnt-sz-plus-button);
    font-weight: var(--fnt-wt-700);
    width: 3rem;
    aspect-ratio: 1;
    border-radius: 100rem;
    color: var(--clr-dark-grey);
  }
  &--close-modal {
    font-family: inherit;
    color: inherit;
    position: absolute;
    top: 0.5rem;
    right: 2rem;
    font-size: var(--fnt-sz-close-modal);
    cursor: pointer;
    border: none;
    background: none;
  }
}
