.card {
  padding: 1.5rem;
  display: grid;
  gap: 1rem;
  grid-template-areas: 'title' 'img' 'author' 'pages' 'rttitle' 'readtoggle';
  background: white;
  align-items: center;
  justify-items: center;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  &__image {
    grid-area: img;
    border-radius: 0.5rem;
    align-self: start;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  &--book-title {
    grid-area: title;
    font-size: var(--fnt-sz-card-header);
    font-weight: var(--fnt-wt-700);
    text-align: center;
  }
  &--author-title {
    grid-area: author;
  }
  &--author-name {
    font-weight: var(--fnt-wt-700);
  }
  &--pages-title {
    grid-area: pages;
  }
  &--pages-count {
    font-weight: var(--fnt-wt-700);
  }
  &--read-toggle-title {
    grid-area: rttitle;
  }
  &--read-toggle {
    grid-area: readtoggle;
  }
}
