.card {
  padding: 1.5rem;
  display: grid;
  gap: 1rem;
  grid-template-areas: 'booktitle' 'img' 'authortitle' 'authorname' 'pagestitle' 'pagescount' 'rttitle' 'readtoggle';
  background: white;
  align-items: center;
  justify-items: center;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  &__image {
    grid-area: img;
    // height: 100%;
    // width: 100%;
    border-radius: 0.5rem;
    align-self: start;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  &__heading {
    font-weight: var(--fnt-wt-700);
    &--main {
      font-size: 2rem;
      text-align: center;
    }
  }
  &--book-title {
    grid-area: booktitle;
  }
  &--author-title {
    grid-area: authortitle;
  }
  &--author-name {
    grid-area: authorname;
  }
  &--pages-title {
    grid-area: pagestitle;
  }
  &--pages-count {
    grid-area: pagescount;
  }
  &--read-toggle-title {
    grid-area: rttitle;
  }
  &--read-toggle {
    grid-area: readtoggle;
  }
}
