@use '../abstracts/' as a;

:root {
  // 1 rem = 10px
  font-size: 62.5%;

  // colours

  --header-bg-colour: var(--clr-light-blue);
  --nav-bg-colour: var(--clr-dark-blue);
  --footer-bg-colour: var(--clr-dark-blue);

  --clr-offwhite: #edede9;
  --clr-dark-grey: #343a40;
  --clr-light-blue: #4361ee;
  --clr-dark-blue: #1d3557;

  // fonts

  --fnt-title: 'Merriweather', serif;
  --fnt-default: 'Ubuntu', sans-serif;
  --fnt-wt-300: 300;
  --fnt-wt-400: 400;
  --fnt-wt-700: 700;
  --fnt-sz-display-button: 1.4rem;
  --fnt-sz-default: 1.6rem;
  --fnt-sz-section-heading: 2rem;
  --fnt-sz-card-header: 2rem;
  --fnt-sz-brand: 2.5rem;
  --fnt-sz-plus-button: 2.5rem;
  --fnt-sz-hero-heading: 4rem;
  --fnt-sz-close-modal: 4rem;
}

body {
  display: grid;
  grid-template-rows: repeat(2, max-content) 1fr max-content;
  font-family: var(--fnt-default);
  color: var(--clr-dark-grey);
  font-size: var(--fnt-sz-default);
  height: 100vh;
  background: var(--clr-offwhite);
}
