@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,700&family=Ubuntu:wght@300;400;700&display=swap');

.heading {
  &__title {
    font-family: var(--fnt-title);
    font-size: var(--fnt-sz-hero-heading);
    text-align: center;
  }
  &__section {
    font-size: var(--fnt-sz-section-heading);
    font-weight: var(--fnt-wt-700);
    text-align: center;
  }
}

.logo {
  font-family: var(--fnt-title);
  font-size: var(--fnt-sz-brand);
  margin-right: auto;
  & > * {
    font-family: var(--fnt-default);
  }
}
